.passwordcontainer{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:20vw;
    height:21vh;
    border:1px solid #94a3b8;
    border-radius: 5px;
    font-style: roboto;
    justify-content: flex-start;
    margin:5px;
}
.details{
    display:flex;
    flex-direction:column;
    
    padding-left: 30px;
}
.stars{
    width:8vw;
}
.delbut{
    background: none;
    border: none;
}
.u{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.dusti{
    height:3vh;
    width:3vh;
}